main {
  height: 100%;
  overflow: hidden;
  max-width: 1940px;
  margin-inline: auto;
}

.screen {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen.is-hidden {
  display: none !important;
}
