@use '../abstracts/main' as a;

.theme-code-vibes {
  --theme-bg:            #{a.$color-primary-dark};
  --theme-accent:        #{a.$color-accent-code-vibes};
  --theme-text:          #{a.$color-white};
  --theme-card-back:     url('/assets/img/Theme_Code_Vibes/Face_green.svg');
  --theme-exit-btn-color: #{a.$color-white};
}
