@use '../abstracts/main' as a;

.theme-da-projects {
  --theme-bg:            #{a.$color-white};
  --theme-accent:        #{a.$color-accent-da-projects};
  --theme-text:          #{a.$color-primary-dark};
  --theme-card-back:     url('/assets/img/Theme_DA/Face.svg');
  --theme-exit-btn-color: #{a.$color-accent-da-projects};
  --theme-separator:      #{rgba(a.$color-primary-dark, 0.10)};
}
