// abstracts/_mixins.scss
$breakpoints: (
  zero: 0px,
  sm:   480px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1400px
);

@mixin respond($minsize: zero, $maxsize: null) {
  $min: map-get($breakpoints, $minsize);

  @if $maxsize == null {
    @media screen and (min-width: #{$min}) {
      @content;
    }
  } @else {
    $max: map-get($breakpoints, $maxsize);
    @media screen and (min-width: #{$min}) and (max-width: #{$max}) {
      @content;
    }
  }
}
