$color-primary-dark: #303131;
$color-secondary-yellow: #F4D738;
$color-white: #FFFFFF;
$color-player-blue: #2C6BF0;
$color-player-orange: #F07D2C;

$spacing: (
  'xs': 4,
  'sm': 8,
  'md': 16,
  'lg': 24,
  'xl': 32,
  'xxl': 48,
);
