$font-hero:   'Red Rose', sans-serif;
$font-result: 'Orbitron', sans-serif;
$font-base:   'Almarai', sans-serif;

$color-primary-dark:      #303131;
$color-secondary-yellow:  #F0EA6E;
$color-white:             #FFFFFF;
$color-player-blue:       #097FC5;
$color-player-orange:     #EA6900;
$color-cream:             #F4ECE4;

// Theme accent colours
$color-accent-code-vibes:  #4DD5BC;
$color-accent-gaming:      #D21D6E;
$color-accent-da-projects: #1E7594;
$color-accent-foods:       #F3832D;
$color-bg-foods:           #F4ECE4;
$color-bg-actionbar:       #F6F6F6;

$spacing: (
  'xs': 4,
  'sm': 8,
  'md': 16,
  'lg': 24,
  'xl': 32,
  'xxl': 48,
);
